@import '../../../common.styl'

.screenWrapper
  padding 28px
  flex 1
  display flex
  background white

.screen
  coolScrollbar()
  display flex
  flex-direction column
  gap 10px
  flex 1

.items
  display block
