@import '../../../common.styl'

.screenWrapper
  display block
  flex 1
  background white

.screen
  padding-top 40px

.table
  display block
  
.head
  display block

.row
  display flex
  margin-bottom 10px
  justify-content space-around

.body
  display block

.pagination
  display flex
  justify-content space-evenly